- unless alert.nil?
  .alert.alert-danger.alert-dismissible.fade.show{role: 'alert'}
    %button.close{'aria-label': 'Close', 'data-dismiss': 'alert', type: 'button'}
      %span{'aria-hidden': 'true'} ×
    %strong= icon('times')
    =alert
- unless notice.nil?
  .alert.alert-success.alert-dismissible.fade.show{role: 'alert'}
    %button.close{'aria-label': 'Close', 'data-dismiss': 'alert', type: 'button'}
      %span{'aria-hidden': 'true'} ×
    %strong= icon('check')
    =notice